/*Contenu entier*/
.body { 
  display: flex;
  justify-content: center;
  height: 35vh; 
  flex-direction: column;
}

/*Image*/

.height {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: 30vh;
  width: 40vb;
  align-content: center;
  width: auto;
  border-radius: 20px;
}

/*Arrows*/

.parentArrow{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vh; 
  margin-top: 2vh;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vh; 
  padding: 50px;
  cursor: pointer;
}